spring:
  application:
    name: core-banking
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2000

scheduler:
  remittance:
    monthly-cron: "0 0 1 * * *"
    weekly-cron: "0 0 3 * * MON-FRI"

exchange:
  auth-key: ${EX_API_KEY}

management:
  endpoint:
    info:
      access: read_only
    health:
      access: read_only
  endpoints:
    access:
      default: none
    web:
      exposure:
        include: health, info

server:
  port: ${SERVER_PORT:8090}

logging:
  level:
    org.hibernate.sql: DEBUG
